<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form">
  <mat-form-field class="form-field">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="node.name" required name="name" />
  </mat-form-field>
  <app-multiple-autocomplete
    placeholder="Parent Tags"
    width="100%"
    [tagsOnly]="true"
    (values)="onTagsChange($event)"
    [selectedValues]="node.tags || []"
  ></app-multiple-autocomplete>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
