.view-food-page {
  padding: 1em;
}

.food-card {
  width: fit-content;
}

.content {
  margin-left: 6em;
}

.block {
  display: block;
}

.delete-button {
  position: absolute;
  right: 0.5vw;
  top: 1vh;
  color: white;
  background-color: #d11a2a;
}
