<div class="view-food-page">
  <button mat-flat-button routerLink="/list">Back to list</button>
  <app-add-popover
    class="block"
    buttonType="edit"
    [editType]="node?.isTag || node?.data?.isTag ? 'tag' : 'food'"
  ></app-add-popover>
  <div class="content">
    <mat-card *ngIf="!isTreeLoading && !!node" class="food-card">
      <app-animated [value]="node?.data?.name || node?.name"> </app-animated>
      <mat-chip-list aria-label="Food Tags">
        <mat-chip
          [disableRipple]="true"
          *ngFor="let tag of node?.data?.tags || node?.tags"
          >{{ tag }}</mat-chip
        >
      </mat-chip-list>
      <mat-card-content *ngIf="!(node?.isTag || node?.data?.isTag)">
        <p>{{ node?.data?.location || node?.location }}</p>
        <mat-card-subtitle>{{
          node?.data?.date || node?.date
        }}</mat-card-subtitle>
        <ngb-rating
          class="rating"
          [rate]="node?.data?.rating || node?.rating || 0"
          [max]="5"
          [readonly]="true"
        ></ngb-rating>
      </mat-card-content>
    </mat-card>

    <p *ngIf="!isTreeLoading && !node">Could not find food with id: {{ id }}</p>
    <p *ngIf="isTreeLoading">LOADING</p>
  </div>
</div>
