<mat-form-field [ngStyle]="{ width: width }">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let value of selectedValues"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(value)"
    >
      {{ value }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="placeholder"
      #searchInput
      [formControl]="searchCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      (ngModelChange)="onChange()"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
